.queue-modal {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.queue-modal img {
    max-height: 50vh;
    max-width: 100%;
}

.button-row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
