.q-floating-bar {
    position: absolute;
    bottom: 40px;
    right: 20px;
    box-shadow: var(--shadow-l);
    --checkbox-size: var(--font-ui-medium);
    background-color: var(--modal-background);
    border-radius: var(--modal-radius);
    border: var(--modal-border-width) solid var(--modal-border-color);
    padding: var(--size-4-4);
    overflow: auto;
    display: flex;
    flex-direction: row;
    gap: var(--size-4-4);
}

.q-floating-bar-btn-holder {
    display: flex;
    flex-direction: row;
    gap: var(--size-4-4);
    margin: 0;
    padding: 0
}